<!DOCTYPE html>
<html>
<head>
  <title>Taski</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 
 <div class="logo">
  <%= image_tag("chromelogo.png", width: '100px') %>
 </div>  
  <%= render "shared/nav" %>
  <%= render "shared/alerts" %>
  
  
 
  

<%= yield %>

</body>
</html>
